<f:be.container includeRequireJsModules="{0: 'TYPO3/CMS/Birthday/Main'}">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left"></div>
				<div class="right"></div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left"></div>
				<div class="right"></div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<form id="videoform">
					<input id="videoId" value="{videoId}" size="50" type="text" /> <input type="submit" value="{f:translate(key: 'storeVideo')}" />
					<div id="previewImage"><img src="{previewUrl}" width="200" /></div>
				</form>
			</div>
		</div>
	</div>
</f:be.container>